<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
<!-- 	For Example 1 & 2
	<bean id="triangle" class="com.learn.spring.Triangle">
			<property name="type" value="Equilateral" />  presetting the member variable 
	</bean>
 -->	
 
 	<!-- Changed the above configuration for example 3 to demonstrate constructor injection -->
	<!-- 
		<bean id="triangle" class="com.learn.spring.Triangle">
			<constructor-arg value="Equilateral" />
			<constructor-arg value="10" />
		</bean> 
	-->
	
	<!-- For example 3, To demonstrate how to identify the specific constructor that is supposed to be used using type property -->
	<!-- 
		<bean id="triangle" class="com.learn.spring.Triangle">
			<constructor-arg type="java.lang.String" value="20"/>  type is the clue that was passed to identify which constructor to use
		</bean> 
	 -->
	 
	<!-- For example 3, There is another way of defining which constructor to use is using index as shown below -->
	<!--  
		<bean id="triangle" class="com.learn.spring.Triangle">
			<constructor-arg index="0" value="Equilateral"/> 
			<constructor-arg index="1" value="20"/>  
		</bean>
	-->
	
	<!-- For Example 4, Injecting Objects -->
	<!-- <bean id="triangle" class="com.learn.spring.example4.Triangle">
		<property name="pointA" ref="zeroPoint" />
		<property name="pointB" ref="point2" />
		<property name="pointC" ref="point3" />
	</bean>
	
	<bean id="zeroPoint" class="com.learn.spring.example4.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>
	<bean id="point2" class="com.learn.spring.example4.Point">
		<property name="x" value="20" />
		<property name="y" value="0" />
	</bean>
	<bean id="point3" class="com.learn.spring.example4.Point">
		<property name="x" value="20" />
		<property name="y" value="0" />
	</bean> -->
	
	<!-- End of Example 4 --> 
	
	<!-- Example 5 -->
	<!-- Inner Bean doesn't require an id (but we can give), as this is always inside another bean and can't be accessed directly. -->
	<!-- we can even provide aliases using name property -->
	<!-- 
	<bean id="triangle" class="com.learn.spring.example5.Triangle" name="triangle-name">
		<property name="pointA" ref="zeroPoint" />
		<property name="pointB">
			<bean class="com.learn.spring.example5.Point">
				<property name="x" value="-20" />
				<property name="y" value="0" />
			</bean>
		</property>
		<property name="pointC">
			<bean id="point3" class="com.learn.spring.example5.Point">
				<property name="x" value="20" />
				<property name="y" value="0" />
			</bean>
		</property>
	</bean>
	
	<bean id="zeroPoint" class="com.learn.spring.example5.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean> -->
	
	<!-- Example of aliasing. Below is the example for triangle aliasing. -->
	<!-- <alias name="triangle" alias="triangle-alias"/> -->
	<!-- End of Example 5 -->
	
	<!-- Example 6 -->
	<bean id="triangle" class="com.learn.spring.example6.Triangle">
		<property name="points">
			<list>
				<ref bean="zeroPoint"/>
				<ref bean="point2"/>
				<ref bean="point3"/>
			</list>
		</property>
	</bean>
	
	<bean id="zeroPoint" class="com.learn.spring.example6.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>
	<bean id="point2" class="com.learn.spring.example6.Point">
		<property name="x" value="20" />
		<property name="y" value="0" />
	</bean>
	<bean id="point3" class="com.learn.spring.example6.Point">
		<property name="x" value="20" />
		<property name="y" value="0" />
	</bean>
	<!-- End of Example 6 -->
</beans>